.overlay {
  background-image: url("../../assets/background-right.svg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-color: rgba(24, 47, 85, 1);
  background-blend-mode: multiply;
}

.login-col {
  padding: 0;
}