.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
  z-index: 100;
  .overlay {
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    background: #b0bec5;
    color: #fff;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
    @mixin overlays($property) {
      position: absolute;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      padding: 70px 40px;
      width: calc(50% - 0%);
      height: calc(100% - 0%);
      text-align: center;
      transform: translateX($property);
      transition: transform 0.5s ease-in-out;
    }

    .overlay-left {
      @include overlays(0);
    }

    .overlay-right {
      @include overlays(0);
      right: 0;
    }
  }
}

.sign-in-active {
  .overlay-container {
    transform: translateX(-100%);
  }

  .overlay {
    transform: translateX(50%);
  }
}